.jumbotron h1 {
    color: blueviolet;
}

.nav > span {
 color: rgb(255, 0, 123);
}

.jumbotron p:last-child a {
    color: orange;
}

.blog-post:first-of-type {
    border: 2px solid greenyellow;

}

.blog-post:first-of-type hr {
    border: 2px solid red;

}

.nav > span:nth-child(even) {
    color: aqua;

}

.blog-sidebar ol:first-of-type li a {
  color: darkorange !important;
}

.blog-post:nth-of-type(2) .blog-post-meta a {
    color: red;
}

.blog-main .blog-post:nth-of-type(3) ul li:nth-of-type(2) {
  color: yellow;
}

a.float-right {
    color: #44ff00;
}

.blog-pagination a:nth-of-type(2) {
    color: #f200ff;
}

.blog-footer a:nth-of-type(2) {
    color: #ccff00;
}